/*
Megan Yan
Intro CS pd07 sec 11
HW 05: Stuylin'
2021--02--25
*/

html {
    background-color: #c49fa1 ;
    /* for the entire background color therefore inside html tag*/
}

h1 {
    font-family: cursive;
    font-size: 60px;
    font-style: oblique;
    color: white
}
    /* this controls " Basic Intro to Friendship Bracelet Making" */

h1 {
    border-style: dashed solid;
    border-color: #86b9d1;
    border-width: medium
}
/* this adds the border around " Basic Intro to Friendship Bracelet Making" */

.list {
    
    
}
